/* Material Icon Control Styles */
material-icon {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* Material Icons font family classes */
.material-icons,
.material-icons-outlined,
.material-icons-round,
.material-icons-sharp {
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-icons {
  font-family: 'Material Icons';
}

.material-icons-outlined {
  font-family: 'Material Icons Outlined';
}

.material-icons-round {
  font-family: 'Material Icons Round';
}

.material-icons-sharp {
  font-family: 'Material Icons Sharp';
}
